<!DOCTYPE html>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
<head>
    <title>Review Analysis</title>
</head>

<body>

<div class="content">

    <h3>Input your review to get its sentiment</h3>

    <form method="post">
        <table width="100%">
            <tr>
                <td width="85%"><input type="text" name="message" id="message" required></td>
                <td width="15%">
                    <button>SUBMIT</button>
                </td>
            </tr>
        </table>
    </form>

    <br>
    <br>

    {% block content %}
    {% endblock %}

    <br>
    <br>
</div>

</body>